body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0  12px;
    align-items: center;
    
}
.top{
    background-color: #1F2937;
    color: white;
}
.logo{
    text-decoration: none;
    
    font-size: 24px;

}
ul{
    list-style: none;
    display: flex;
    gap: 8px;
    font-size: 12px;
    padding-right: 25px;
}
.awesome{
    display:flex;
    padding: 50px;
    
}
h1{
    font-size: 48px;
    font-weight: bolder;
}
.right{
    background-color: #e5e7eb;
    margin: 0 auto;
    padding: 25px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.left  {
    margin:0 auto;
    flex: 1;
}
.random{
    background-color: white;
    text-align: center;
    padding: 50px;
    
}
.box{
    align-items: center;
    display: flex;
    gap: 10px;
}
.quote {
    background-color: #e5e7eb;
    padding: 10%;
    align-items: center;
    text-align: left;
    font-size: 36px;
    color: #1F2937;
    font-weight:lighter;
}
button{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 3px 8px;
    border: none;
}
.boxes{
    display:flex;
    justify-content: space-around;
    gap:10px;
    
}
.captions{
    display: flex;
    justify-content: space-around;
    gap:10px;
    
}
.box{
    
    height: 80px;
    width: 80px;
    border: solid #3882F6;
    border-radius: 5px;
}
#thor{
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}
.action{
    background-color: #3882F6;
    margin: 100px;
    color: white;
    padding: 25px 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
}
.headline{
    font-weight: bold;
    font-size: 20px;
    padding: 0;
}

#low{
    border: solid   white;
    font-size: 18px;
}
footer{
    background-color: #1F2937;
    color: white;
    padding: 30px;
    margin: none;
    text-align: center;
}
